<template>
  <v-card class="mx-auto" max-width="800" v-if="!sync">
    <v-row>
      <v-col sm="4" class="text-center">
        <v-avatar width="100" height="100" style="margin-top:30px;">
          <img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" alt="John" />
        </v-avatar>
        <v-card-title class="justify-center">Available Credits</v-card-title>
        <v-chip>
          <v-icon left color="red">mdi-account</v-icon>
          {{form.availableCredits}}
        </v-chip>
      </v-col>

      <v-divider inset vertical></v-divider>
      <v-col sm="1"></v-col>
      <v-col sm="6">
        <div v-if="mode!=='edit'">
          <v-card-title class="justify-center">Employee Information</v-card-title>
          <v-list>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>ID</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content>
                <v-list-item-title>{{form.empid}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Name</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content>
                <v-list-item-title>{{form.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Address</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content>
                <v-list-item-title>{{form.address}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Date of Birth</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content>
                <v-list-item-title>{{form.dob}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Employer Name</v-list-item-title>
              </v-list-item-content>

              <v-list-item-content>
                <v-list-item-title>{{form.employerName}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-card-actions style="float:right;">
            <v-btn color="orange" text style="float:right;" @click="gotoCredit">Use Credits</v-btn>

            <v-btn color="orange" text style="float:right;" @click="mode='edit'">Edit</v-btn>
          </v-card-actions>
        </div>

        <v-form ref="form" v-if="mode==='edit'" v-model="valid">
          <v-text-field v-model="form.name" :counter="10" :rules="nameRules" label="Name" required></v-text-field>

          <v-text-field v-model="form.address" label="Address" required></v-text-field>

          <v-text-field v-model="form.dob" label="Date Of Birth" required></v-text-field>

          <v-text-field v-model="form.employerName" label="Employer Name" required></v-text-field>

          <v-btn color="success" @click="save" style="float:right;">Save</v-btn>
          <v-btn color="info" class="mr-4" @click="mode=''" style="float:right;">Cancel</v-btn>
          <v-btn color="error" class="mr-4" @click="reset" style="float:right;">Clear</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import axios from "axios";
export default {
  name: "employeeInfo",
  data: () => ({
    sync: true,
    mode: "",
    form: {
      empid: "",
      name: "",
      address: "",
      dob: "",
      employerName: "",
      availableCredits: 0
    },
    valid: true,
    nameRules: [
      v => !!v || "Name is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ]
  }),
  mounted() {
    this.getEmployeeInfo();
    this.sync = false;
  },
  methods: {
    getEmployeeInfo() {
      axios
        .get("http://localhost:4000/api/employee/get/" + "EMP0001")
        .then(response => {
          if (response.status === 200) {
            this.form = response.data.employee;
            // eslint-disable-next-line no-console
            console.log(response);
          }
        });
    },
    reset() {
      this.$refs.form.reset();
    },
    save() {
      if (!this.$refs.form.validate()) {
        return;
      }
      return new Promise(resolve => {
        axios
          .put(
            "http://localhost:4000/api/employee/update/" + this.form.empid,
            this.form
          )
          .then(response => {
            if (response.status === 200) {
              this.mode = "";
              resolve();
            }
          });
      });
    },
    gotoCredit() {
      this.$router.push("/use-credit/" + this.form.empid);
    }
  }
};
</script>