<template>
  <v-content>
    <v-alert
      class="justify-center"
      :value="alertData.alert"
      type="info"
      width="300"
      dismissible
      style="float:right"
    >{{alertData.message}}</v-alert>
    <v-card class="mx-auto pl-4 pr-4" max-width="400">
      <v-card-title class="justify-center">Use Credits</v-card-title>
      <v-row>
        <v-col sm="12">
          <v-form ref="form" v-model="valid">
            <v-text-field v-model="form.choosedCredit" label="Input credit amount" required></v-text-field>

            <v-btn color="success" @click="confirm" style="float:right;">Confirm</v-btn>
            <v-btn
              color="info"
              class="mr-4"
              @click="$router.push('/employee-detail')"
              style="float:right;"
            >Cancel</v-btn>
          </v-form>
        </v-col>
      </v-row>
    </v-card>
  </v-content>
</template>

<script>
import axios from "axios";
export default {
  name: "useCredit",
  data: () => ({
    mode: "",
    form: {
      empid: "",
      choosedCredit: 0
    },
    valid: true,
    alertData: {
      alert: false,
      message: ""
    }
  }),
  mounted() {
    if (this.$route.params.empid) {
      this.form.empid = this.$route.params.empid;
    }
  },
  methods: {
    getEmployeeInfo() {
      axios
        .get("http://localhost:4000/api/employee/get/" + "EMP0001")
        .then(response => {
          if (response.status === 200) {
            this.form = response.data.employee;
            // eslint-disable-next-line no-console
            console.log(response);
          }
        });
    },
    reset() {
      this.$refs.form.reset();
    },
    confirm() {
      if (!this.$refs.form.validate()) {
        return;
      }
      return new Promise(resolve => {
        axios
          .post(
            "http://localhost:4000/api/employee/calculate-credit/" +
              this.form.empid,
            this.form
          )
          .then(response => {
            // eslint-disable-next-line no-console
            console.log(response);
            if (response.data.status === 200) {
              this.$router.push("/employee-detail");
              resolve();
            } else if (response.data.status === 422) {
              this.alertData.alert = true;
              this.alertData.message = response.data.message;
            }
          });
      });
    }
  }
};
</script>