<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center title">Yes Doc Sample</div>

      <v-spacer></v-spacer>
    </v-app-bar>
    <v-spacer></v-spacer>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    //
  })
};
</script>
